@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Kings&family=Lobster&display=swap');

body {
    margin: 0;
    padding: 0;

    display: flex;
    height: 100vh;
    width: 100vw;

    align-items: center;
    justify-content: center;
}

#screen {
    padding: 40px 10px;
    align-items: center;
    justify-content: center;

    color: rgb(235, 235, 235);
    background-color: darkcyan;
    
    border-radius: 20px;
    border-style: double;
    border-color: whitesmoke;
    border-width: 5px;

    font-family: 'Dancing Script', cursive;
    text-align: center;
}

#clock {
    padding-bottom: 20px;
}

#clock-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin: 0%;
    padding: 0%;
    font-size: 70pt;
}

#clock-buttons {
    display: flex;
    justify-content: space-between;
    
    margin-top: 40px;
    font-size: 18pt;
}

.btn-box {
    display: table-row;
    width: 6vw;
    margin: 0vw 2vw;
}

button {
    cursor: pointer;
}

button, input {
    border-style: double;
    border-width: 4px;
    border-radius: 8px;

    color: white;
    background-color: transparent;

    font-size: 14pt;
    font-family: 'Dancing Script', cursive;

    margin: 5px 15px;
    padding: 10px;
    margin: 20px 10px 0px 0px;
}

.click-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.click-text {
    font-size: 16pt;
    font-family: 'Dancing Script', cursive;
    margin: 0px 20px;
}

#alarm-list {
    display: flex;
    max-width: 60%;
    flex-direction: row;
    flex-wrap: wrap;

    align-items: center;
    align-content: center;
    justify-content: center;

    padding: 10px;

    border-style: double;
    border-width: 4px;
    border-radius: 8px;

    color: white;
    text-align: center;
    font-size: 16pt;
    font-family: 'Dancing Script', cursive;
}

#alarm-list div {
    padding: 5px 10px;
}

